<div class="container">
  <div class="table-summary">
    <div class="t-head row align-middle py-3 mb-3">
      <div class="col-5">
        <p class="mb-0">Product</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Size</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Quantity</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Price</p>
      </div>
      <div class="col">
        <p class="mb-0">Remove</p>
      </div>
    </div>
    <div class="t-row1 row">
      <div class="col-2">
        <img src="assets/img/product-detail/bag-prd1.png">
      </div>
      <div class="col-3">
        <p>AMEL EARRING</p>
      </div>
      <div class="col-2">
        <p>6</p>
      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <p>$6,700</p>
      </div>
      <div class="col">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="line my-3"></div>
    <div class="t-row2 row">
      <div class="col-2">
        <img src="assets/img/product-detail/bag-prd2.png">
      </div>
      <div class="col-3">
        <p>AMEL EARRING</p>
      </div>
      <div class="col-2">
        <p>6</p>
      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <p>$6,700</p>
      </div>
      <div class="col">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="line my-3"></div>
  </div>
  <div class="row">
    <div class="col-7"></div>
    <div class="col-5 d-flex mb-4">
      <h6 class="me-auto">Subtotal</h6>
      <h6>$11,700</h6>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-6 bill-address">
      <div class="t-head row align-middle py-3 mb-5">
        <p class="mb-0">Billing Address</p>
      </div>
      <div class="row">
        <div class="col-6 ps-0 firstname user-input">
          <label>First name</label>
          <input class="inpu" type="text" required><br>
        </div>
        <div class="col-6 pe-0 lastname user-input">
          <label>Last name</label>
          <input class="inpu" type="text" required><br>
        </div>
      </div>
      <div class="px-0 email-user user-input">
        <label>Email address (*)</label>
        <input class="inpu" type="email" required><br>
      </div>
      <div class="px-0 phone-user user-input">
        <label>Phone (*)</label>
        <input class="inpu" type="phone" required><br>
      </div>
      <div class="px-0 address-user user-input">
        <label>Address line1 (*)</label>
        <input class="inpu" type="text" required><br>
      </div>
    </div>
    <div class="col-6 delivery-add">
      <div class="t-head row align-middle py-3 mb-3">
        <p class="mb-0">Delivery Address</p>
      </div>
      <div class="form-check my-3">
        <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
        <label class="form-check-label smt" for="flexCheckChecked">
          Default (Same as billing address)
        </label>
      </div>
      <div class="form-check my-3">
        <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
        <label class="form-check-label smt" for="flexCheckChecked">
          Add an alternative delivery address
        </label>
      </div>
    </div>
  </div>
  <!--Shipping method-->
  <div class="shipping-method">
    <div class="t-head row align-middle py-3 mb-5">
      <p class="mb-0">Shipping Method</p>
    </div>
    <div class="row">
      <div class="col-3 form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
        <label class="form-check-label smt" for="flexCheckChecked">
          Default (Same as billing address)
        </label>
      </div>
      <div class="col"></div>
      <div class="col-3"></div>
      <div class="col-5"></div>
    </div>
  </div>
</div>
