<div class="container">
  <div class="table-summary">
    <div class="t-head row align-middle py-3 mb-3">
      <div class="col-5">
        <p class="mb-0">Product</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Size</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Quantity</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Price</p>
      </div>
      <div class="col">
        <p class="mb-0">Remove</p>
      </div>
    </div>
    <div class="t-row1 row">
      <div class="col-2">
        <img src="assets/img/product-detail/bag-prd1.png">
      </div>
      <div class="col-3">
        <p>AMEL EARRING</p>
      </div>
      <div class="col-2">
        <p>6</p>
      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <p>$6,700</p>
      </div>
      <div class="col">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="line my-3"></div>
    <div class="t-row2 row">
      <div class="col-2">
        <img src="assets/img/product-detail/bag-prd2.png">
      </div>
      <div class="col-3">
        <p>AMEL EARRING</p>
      </div>
      <div class="col-2">
        <p>6</p>
      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <p>$6,700</p>
      </div>
      <div class="col">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="line my-3"></div>
  </div>
  <div class="row">
    <div class="col-7"></div>
    <div class="col-5 d-flex mb-4">
      <h6 class="me-auto">Subtotal</h6>
      <h6>$11,700</h6>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-6 bill-address">
      <div class="t-head row align-middle py-3 mb-5">
        <p class="mb-0">Billing Address</p>
      </div>
      <div class="row">
        <div class="col-6 ps-0 firstname user-input">
          <label>First name</label>
          <input class="inpu" type="text" required><br>
        </div>
        <div class="col-6 pe-0 lastname user-input">
          <label>Last name</label>
          <input class="inpu" type="text" required><br>
        </div>
      </div>
      <div class="px-0 email-user user-input">
        <label>Email address (*)</label>
        <input class="inpu" type="email" required><br>
      </div>
      <div class="px-0 phone-user user-input">
        <label>Phone (*)</label>
        <input class="inpu" type="phone" required><br>
      </div>
      <div class="px-0 address-user user-input">
        <label>Address line1 (*)</label>
        <input class="inpu" type="text" required><br>
      </div>
    </div>
    <div class="col-6 delivery-add">
      <div class="t-head row align-middle py-3 mb-5">
        <p class="mb-0">Delivery Address</p>
      </div>
      <div class="form-check my-3 ps-0">
        <input type="checkbox" class="check-box" id="collection-1" name="collection-1" value="Sping Collection">
        <label class="smt" for="collection-1">Default (Same as billing address)</label><br>
      </div>
      <div class="form-check my-3 ps-0">
        <input type="checkbox" class="check-box" id="collection-1" name="collection-1" value="Sping Collection">
        <label class="smt" for="collection-1">Add an alternative delivery address</label><br>
      </div>
    </div>
  </div>
  <!--Shipping method-->
  <div class="shipping-method">
    <div class="t-head row align-middle py-3 mb-5">
      <p class="mb-0">Shipping Method</p>
    </div>
    <div class="row">
      <div class="col-3 ps-0">
        <input type="checkbox" class="check-box" id="collection-1" name="collection-1" value="Sping Collection">
        <label class="smt" for="collection-1">Default (Same as billing address)</label><br>
      </div>
      <div class="col"></div>
      <div class="col-3">
        <p class="smt">Express Courier (Air)</p>
      </div>
      <div class="col-5">
        <p class="smt">Up to 3 business day(s)</p>
      </div>
    </div>
  </div>
  <div class="line my-3"></div>
  <div class="duties&text">
    <p class="mdt">DUTIES & TAXES</p>
    <div class="form-check my-3 ps-0">
      <input type="checkbox" class="check-box" id="collection-1" name="collection-1" value="Sping Collection">
      <label class="smt" for="collection-1">Prepay S200 for duties, taxes and fee now to guarantee no additional charges on delivery</label><br>
    </div>
    <div class="form-check my-3 ps-0">
      <input type="checkbox" class="check-box" id="collection-1" name="collection-1" value="Sping Collection">
      <label class="smt" for="collection-1">I’ll pay all applicable duties, taxes and fees on delivery</label><br>
    </div>
  </div>
      <div class="row">
        <div class="col-6 payment-method ps-0">
          <div class="t-head row align-middle py-3 mb-5">
            <p class="mb-0">Payment Method</p>
          </div>
          <p class="mdt">Please choose the payment method</p>
          <div class="px-0 address-user user-input">
            <label>Card number</label>
            <input class="inpu" type="text" required><br>
          </div>
          <div class="px-0 address-user user-input">
            <label>Number on card</label>
            <input class="inpu" type="text" required><br>
          </div>
          <div class="row">
            <div class="col-6">
              <label>Expire date</label>
              <input class="inpu" type="text" required><br>
            </div>
            <div class="col-6">
              <label>CVV</label>
              <input class="inpu" type="text" required><br>
            </div>
          </div>
        </div>
        <div class="col-6 billing-summary">
          <h5>BILLING SUMMARY</h5>
          <div class="row">
            <div class="col-10">
              <p>Diamonds and Gold Spark Ring</p>
            </div>
            <div class="col">
              <p>$6,700</p>
            </div>
          </div>
          <p>x1</p>
          <div class="row">
            <div class="col-10">
              <p>Diamonds and Gold Spark Ring</p>
            </div>
            <div class="col">
              <p>$5,000</p>
            </div>
          </div>
          <p>x1</p>
          <div class="line"></div>
          <div class="row total-itm">
            <div class="col-10">
              <p>Items Total</p>
            </div>
            <div class="col">
              <p>$11,700</p>
            </div>
          </div>
          <div class="row ship-fee">
            <div class="col-10">
              <p>Shipping Fee</p>
            </div>
            <div class="col">
              <p>$0</p>
            </div>
          </div>
          <div class="row ship-fee">
            <div class="col-10">
              <p>Discount (coupon)</p>
            </div>
            <div class="col">
              <p>-$7,00</p>
            </div>
          </div>
          <div class="line"></div>
        </div>
      </div>
</div>
