/*care*/
.care{
  background-color: #E1DCD6;
  padding-top:60px;
  padding-bottom:60px;
  margin-top:120px;
}
.care-content{
  padding:0 80px;
}
.type-j{
  text-decoration: underline;
  font-weight: 500;
}
/*JEWELLERY TYPE*/
.content{
  position:relative;
}
.content-inner{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}
/*natural-jewelery*/
.natural-inner{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

/*jewellery-care*/
.jewellery-care li {
  list-style-type: disc;
  margin-inline-start: 20px;
}
/*Jewellery Carat*/
.diamond-granding{
  padding-top:40px;
  padding-bottom:40px;
}
.carat-tb{
  padding: 40px 30px;
  background-color:#fff;
}
.color-left{
  padding-top:100px;
}
/*collapse*/
.card{
  background-color:#faf8f6;
  border:none;
}
.we{
  padding-top:60px;
}
.we .line2{
  max-width: 50%;
  height:1px;
  margin: auto;
  background-color:#333;
}
.we-content{
  padding-top:30px;
  color:#333;
}
