/*insurance*/
.insurance{
  background-color: #e7e7e7;
  padding-top:60px;
  padding-bottom:60px;
}
/*JEWELLERY TYPE*/
.content{
  position:relative;
}
.content-inner{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}
.natural-d{
  padding-right:25px;
}
/*jewellery-care*/
.jewellery-care li {
  list-style-type: disc;
  margin-inline-start: 20px;
}
/*Jewellery Carat*/
.diamond-granding{
  padding-top:40px;
  padding-bottom:40px;
}
.carat-tb{
  padding: 40px 30px;
  background-color:#fff;
}
.color-left{
  padding-top:100px;
}
/*collapse*/
.card{
  background-color:#faf8f6;
  border:none;
}
