<div class="container">
  <!--BANNER-->
  <div class="banner">
    <img src="./assets/img/contact/banner.png">
  </div>
  <div class="contact-inner">
    <div class="row">
      <div class="col"></div>
      <div class="col-6 contact-form">
        <form onsubmit="alert('Thank you for your message!! We will contact you soon.')">
          <div class="row name-user">
            <div class="col-6 firstname ps-0">
              <label>First name</label>
              <input class="inpu" type="text">
            </div>
            <div class="col-6 lastname pe-0">
              <label>Last name</label>
              <input class="inpu" type="text">
            </div>
          </div>
          <div class="email-user user-input">
            <label>Email address (*)</label>
            <input class="inpu" type="email" required><br>
          </div>
          <div class="subj-user user-input">
            <label>Subject</label>
            <input class="inpu" type="text"><br>
          </div>
          <div class="mess-user">
            <label>Message (*)</label>
            <textarea class="inpu" rows="4" required></textarea>
          </div>
          <div class="text-center">
              <button class="d-inline-block btn btn-pri btlg" type="submit">Send it</button>
          </div>
        </form>
      </div>
      <div class="col-4 contact-text">
        <span class="mdt">Let’s connect</span>
        <p class="smt">For questions regarding our products and services you can also contact us by filling out the form below.</p>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="aguri-info ">
      <div class="showroom mb-4">
        <p class="mdt">Showroom</p>
        <div id="carouselMaps" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselMaps" data-slide-to="0" class="active"></li>
            <li data-target="#carouselMaps" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <p class="text-center">
                <i class="fas fa-map-marker-alt"></i> 6901 Hollywood Blvd, Los Angeles, CA 90028, United States
              </p>
              <agm-map [latitude]=34.102345 [longitude]=-118.340389></agm-map>
            </div>
            <div class="carousel-item">
              <p class="text-center">
                <i class="fas fa-map-marker-alt"></i> 10 Northumberland St, London WC2N 5DB, United Kingdom
              </p>
              <agm-map [latitude]=51.507406 [longitude]=-0.125283></agm-map>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselMaps" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselMaps" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="mail-inf mt-5">
        <p class="mdt">Email info</p>
        <p class="smt">@AGURI&PIJ2022.com for appointment</p>
      </div>
  </div>
</div>


