.contact-inner{
  margin-top:80px;
  margin-bottom:100px;
}

.mess-user{
  margin-bottom:60px;
  margin-top:20px;
}
.contact-text p{
  margin-top:10px;
}
.aguri-info{
  margin-bottom:40px;
}

agm-map {
  height: 400px;
}
