<div class="container shopping-bag">
  <h4>Shopping Bag</h4>
  <div class="t-head row">
    <div class="col-5">
      Product
    </div>
    <div class="col-2">
      <p>Size</p>
    </div>
    <div class="col-2">
      <p>Quantity</p>
    </div>
    <div class="col-2">
      <p>Price</p>
    </div>
    <div class="col">
      <p>Remove</p>
    </div>
  </div>
  <div class="line my-3"></div>
  <div class="t-row1 row">
    <div class="col-2">
      <img src="assets/img/product-detail/bag-prd1.png">
    </div>
    <div class="col-3">
      <p>AMEL EARRING</p>
    </div>
    <div class="col-2">
      <p>6</p>
    </div>
    <div class="col-2"></div>
    <div class="col-2">
      <p>$6,700</p>
    </div>
    <div class="col">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="line my-3"></div>
  <div class="t-row2 row">
    <div class="col-2">
      <img src="assets/img/product-detail/bag-prd2.png">
    </div>
    <div class="col-3">
      <p>AMEL EARRING</p>
    </div>
    <div class="col-2">
      <p>6</p>
    </div>
    <div class="col-2"></div>
    <div class="col-2">
      <p>$6,700</p>
    </div>
    <div class="col">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="line my-3"></div>
</div>
