<!--Product detail-->
<div class="container">
  <!--DETAIL-->
  <div class="prod-detail">
    <div class="row">
      <div class="col-2">
        <div class="mbt">
          <a href="#">
            <img src="./assets/img/product-detail/detail1.png">
          </a>
        </div>
        <div class="mbt">
          <a href="#">
            <img src="./assets/img/product-detail/detail2.png">
          </a>
        </div>
        <div class="mbt">
          <a href="#">
            <img src="./assets/img/product-detail/detail3.png">
          </a>
        </div>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="./assets/img/product-detail/detail4.png">
        </a>
      </div>
      <div class="col-4">
        <p class="mdt">AGURI'S ETERNITY MAGIC</p>
        <h5>Diamond and Gold Spark Ring</h5>
        <h6>$6,700</h6>
        <p class="mdt">Complimentary Shipping & Returns</p>
        <div class="line"></div>
        <p class="mdt">Quantity</p>
        <div class="line"></div>
        <p class="mdt">Find your size</p>
        <div class="bag">
          <button class="add-bag btn btnlg btn-pri" type="submit">Add to bag</button>
        </div>
        <div class="ask-advisor">
          <button class="advisor btn btnlg btn-sec" data-bs-toggle="modal" type="button" data-bs-target="#review">Ask a client advisor</button>
          <!-- Modal -->
          <div class="modal fade" id="review">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <h5 class="modal-title" id="exampleModalLabel">Write A Review</h5>
                  <p class="mdt">Select your rating</p>
                  *****
                  <label>Message (*)</label>
                  <textarea class="inpu" rows="4" required></textarea>
                  <div class="email-user">
                    <label>Email address</label>
                    <input class="inpu" type="email" required><br>
                  </div>
                  <div class="review-name">
                    <label>Your name</label>
                    <input class="inpu" type="text">
                  </div>
                  <button type="button" class="btn btn-pri" data-bs-dismiss="modal">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
