/*DETAIL*/
.bag{
  margin-bottom:20px;
  margin-top:20px;
}
.ask-advisor{
  margin-bottom:20px;
}
/*SELECT FORM*/
/*Breadcrumb*/
.breadcrumb{
  padding: 16px 0px;
}
.breadcrumb .breadcrumb-item a{
  font-size:14px;
}
/*FIND SIZE*/
.mx12{
  padding-left:25px;
  padding-right:25px;
}
.size-title th{
  font-size:14px;
  font-weight:600;
}
.ring-size td{
  padding:10px 0px;
}
/*Ask a client advisor*/
.modal-dialog{
  max-width:600px;
}
.modal-content{
  padding: 40px 80px 40px 80px;
}
.review-name{
  margin-bottom:40px;
}
/*Description & Detail*/

/*Similar-product*/
/*also like*/
.carousel-also{
  margin-bottom:120px;
  padding-top:40px;
}
/*Compare*/
.simi-prod{
  margin-top:120px;
  margin-bottom:120px;
}
.card-prd{
  position:relative;
}
.card-prd-bt{
  padding-top: 10px;
  padding-bottom: 10px;
  background:#e7e7e7;
  text-align:center;
  position:absolute;
  bottom:0px;
  width:100%;
  display:none;
}
.card-prd:hover > .card-prd-bt{
  display:block;
  transition: 0.4s all;
}
.card-prd .modal .line{
  margin-top:10px;
  margin-bottom:10px;
}
.itm{
  margin-top:40px;
  margin-bottom:10px;
}
.simi-left{
  padding-left:0px;
}
.simi-right{
  padding-right:0px;
}
/*Review*/
.review-start{
  justify-content: center;
}
.rate-start{
  margin-bottom:20px;
}
.review-box{
  margin-top:40px;
}




