/*DETAIL*/
.bag{
  margin-bottom:20px;
  margin-top:20px;
}
.ask-advisor{
  margin-bottom:20px;
}
/*SELECT FORM*/
/*Breadcrumb*/
.breadcrumb{
  padding: 16px 0px;
}
.breadcrumb .breadcrumb-item a{
  font-size:14px;
}
/*FIND SIZE*/
.mx12{
  padding-left:25px;
  padding-right:25px;
}
.size-title th{
  font-size:14px;
  font-weight:600;
}
.ring-size td{
  padding:10px 0px;
}
/*Ask a client advisor*/

.review-name{
  margin-bottom:40px;
}
/*Description & Detail*/

/*Similar-product*/

/*Compare*/
.simi-prod{
  margin-top:120px;
  margin-bottom:120px;
}

.itm{
  margin-top:20px;
  margin-bottom:10px;
}
.simi-left{
  padding-left:0px;
}
.simi-right{
  padding-right:0px;
}
/*Review*/
.review-start{
  justify-content: center;
}
.rate-start{
  margin-bottom:20px;
}
.review-box{
  margin-top:40px;
  margin-bottom:60px;
}
/*exlore collection*/
.more-collection{
  background: #fff;
}
.collec-left{
  position: relative;
}
.collec-img{
  position:absolute;
  bottom:0;
}
.collec-content{
  margin-top:38%;
}
/*collapse*/
.card {
  background-color: #fff;
  border: none;
}

.input-qty {
  width: 15px;
}
.qty-btn {
  width: 15px;
  height: 15px;
  border: none;
  background-color: #fff;
}
.trash {
  color: #999;
}
.trash:hover {
  color: #000;
}
/*chatbox*/
.imessage p {
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
  border-radius: 30px;
}
.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}
p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}
p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}
#messinput{
  border:0;
  width: 100%;
  outline: none;
  padding: 12px;
  resize: none;
  box-shadow: none;
}

