<div class="container mb-5">
  <div class="search-title">
    <h5 id="search-result" class="text-center">Your search revealed the following:</h5>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="product-result row">
        <div class="product-img col-4 ps-0">
          <div class="card-prd">
            <div class="img">
              <a routerLink="/product-detail/3">
                <img src="./assets/img/product-detail/quickview1.png">
              </a>
            </div>
            <div class="compare card-prd-bt smt">
              <a routerLink="/product-detail/3">View detail</a>
            </div>
          </div>
        </div>
        <div class="product-info col-8 pe-0">
          <h6 class="mb-2">NOMA EARRING</h6>
          <p class="mdt mb-3">$ 285.00</p>
          <p class="smt">This earring in 14k yellow gold with square black diamond or emerald and round white diamond ships
            immediately.14k white is made to order and ships in 4-10 business days.In a rush or have questions? Email
            us at hello@shwjewelry.com. MATERIALS14 karat yellow or white gold set with one white diamond and one...</p>
        </div>
      </div>
      <div class="line my-4"></div>
      <div class="product-result row">
        <div class="product-img col-4 ps-0">
          <div class="card-prd">
            <div class="img">
              <a routerLink="/product-detail/3">
                <img src="./assets/img/product-detail/quickview2.png">
              </a>
            </div>
            <div class="compare card-prd-bt smt">
              <a routerLink="/product-detail/3">View detail</a>
            </div>
          </div>
        </div>
        <div class="product-info col-8 pe-0">
          <h6 class="mb-2">NOMA EARRING</h6>
          <p class="mdt mb-3">$ 285.00</p>
          <p class="smt">This earring in 14k yellow gold with square black diamond or emerald and round white diamond ships
            immediately.14k white is made to order and ships in 4-10 business days.In a rush or have questions? Email
            us at hello@shwjewelry.com. MATERIALS14 karat yellow or white gold set with one white diamond and one...</p>
        </div>
      </div>
      <div class="line my-4"></div>
      <div class="product-result row">
        <div class="product-img col-4 ps-0">
          <div class="card-prd">
            <div class="img">
              <a routerLink="/product-detail.3">
                <img src="./assets/img/product-detail/quickview3.png">
              </a>
            </div>
            <div class="compare card-prd-bt smt">
              <a routerLink="/product-detail/3">View detail</a>
            </div>
          </div>
        </div>
        <div class="product-info col-8 pe-0">
          <h6 class="mb-2">NOMA EARRING</h6>
          <p class="mdt mb-3">$ 285.00</p>
          <p class="smt">This earring in 14k yellow gold with square black diamond or emerald and round white diamond ships
            immediately.14k white is made to order and ships in 4-10 business days.In a rush or have questions? Email
            us at hello@shwjewelry.com. MATERIALS14 karat yellow or white gold set with one white diamond and one...</p>
        </div>
      </div>
      <div class="line my-4"></div>
      <div class="product-result row">
        <div class="product-img col-4 ps-0">
          <div class="card-prd">
            <div class="img">
              <a routerLink="/product-detail.3">
                <img src="./assets/img/product-detail/quickview1.png">
              </a>
            </div>
            <div class="compare card-prd-bt smt">
              <a routerLink="/product-detail/3">View detail</a>
            </div>
          </div>
        </div>
        <div class="product-info col-8 pe-0">
          <h6 class="mb-2">NOMA EARRING</h6>
          <p class="mdt mb-3">$ 285.00</p>
          <p class="smt">This earring in 14k yellow gold with square black diamond or emerald and round white diamond ships
            immediately.14k white is made to order and ships in 4-10 business days.In a rush or have questions? Email
            us at hello@shwjewelry.com. MATERIALS14 karat yellow or white gold set with one white diamond and one...</p>
        </div>
      </div>
      <div class="line my-4"></div>
      <div class="product-result row">
        <div class="product-img col-4 ps-0">
          <div class="card-prd">
            <div class="img">
              <a routerLink="/product-detail/3">
                <img src="./assets/img/product-detail/quickview1.png">
              </a>
            </div>
            <div class="compare card-prd-bt smt">
              <a routerLink="/product-detail/3">View detail</a>
            </div>
          </div>
        </div>
        <div class="product-info col-8 pe-0">
          <h6 class="mb-2">NOMA EARRING</h6>
          <p class="mdt mb-3">$ 285.00</p>
          <p class="smt">This earring in 14k yellow gold with square black diamond or emerald and round white diamond ships
            immediately.14k white is made to order and ships in 4-10 business days.In a rush or have questions? Email
            us at hello@shwjewelry.com. MATERIALS14 karat yellow or white gold set with one white diamond and one...</p>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>


