<div class="container mb-5">
  <div class="search-title">
    <h5 id="search-result" class="text-center">YOUR SEARCH FOR "RING" REVEALED THE FOLLOWING:</h5>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="">
        <div class="product-result row">
          <div class="product-img col-4 ps-0">
            <div class="card-prd">
              <div class="img">
                <a routerLink="/product-detail">
                  <img src="./assets/img/search/search1.png">
                </a>
              </div>
              <div class="compare card-prd-bt smt">
                <a routerLink="/product-detail">View detail</a>
              </div>
            </div>
          </div>
          <div class="product-info col-8 pe-0">
            <h6 class="mb-2">Lynn Ring</h6>
            <p class="mdt mb-3">$8.700,00</p>
            <p class="smt">Size 5 and size 6 in 14k yellow gold, size 6 in 14k white gold with white diamonds, and size
              6 in 14k yellow gold with rubies, emeralds, or black diamonds ships immediately.All other sizes and
              combinations are made to order and ship in 4-10 business days.In a rush or have questions?...</p>
          </div>
        </div>
        <div class="line my-3"></div>
        <div class="product-result row">
          <div class="product-img col-4 ps-0">
            <div class="card-prd">
              <div class="img">
                <a routerLink="/product-detail">
                  <img src="./assets/img/search/search2.png">
                </a>
              </div>
              <div class="compare card-prd-bt smt">
                <a routerLink="/product-detail">View detail</a>
              </div>
            </div>
          </div>
          <div class="product-info col-8 pe-0">
            <h6 class="mb-2">Lynn Ring</h6>
            <p class="mdt mb-3">$8.700,00</p>
            <p class="smt">Size 5 and size 6 in 14k yellow gold, size 6 in 14k white gold with white diamonds, and size
              6 in 14k yellow gold with rubies, emeralds, or black diamonds ships immediately.All other sizes and
              combinations are made to order and ship in 4-10 business days.In a rush or have questions?...</p>
          </div>
        </div>
        <div class="line my-3"></div>
        <div class="product-result row">
          <div class="product-img col-4 ps-0">
            <div class="card-prd">
              <div class="img">
                <a routerLink="/product-detail">
                  <img src="./assets/img/search/search3.png">
                </a>
              </div>
              <div class="compare card-prd-bt smt">
                <a routerLink="/product-detail">View detail</a>
              </div>
            </div>
          </div>
          <div class="product-info col-8 pe-0">
            <h6 class="mb-2">Lynn Ring</h6>
            <p class="mdt mb-3">$8.700,00</p>
            <p class="smt">Size 5 and size 6 in 14k yellow gold, size 6 in 14k white gold with white diamonds, and size
              6 in 14k yellow gold with rubies, emeralds, or black diamonds ships immediately.All other sizes and
              combinations are made to order and ship in 4-10 business days.In a rush or have questions?...</p>
          </div>
        </div>
        <div class="line my-3"></div>
        <div class="product-result row">
          <div class="product-img col-4 ps-0">
            <div class="card-prd">
              <div class="img">
                <a routerLink="/product-detail">
                  <img src="./assets/img/search/search4.png">
                </a>
              </div>
              <div class="compare card-prd-bt smt">
                <a routerLink="/product-detail">View detail</a>
              </div>
            </div>
          </div>
          <div class="product-info col-8 pe-0">
            <h6 class="mb-2">Lynn Ring</h6>
            <p class="mdt mb-3">$8.700,00</p>
            <p class="smt">Size 5 and size 6 in 14k yellow gold, size 6 in 14k white gold with white diamonds, and size
              6 in 14k yellow gold with rubies, emeralds, or black diamonds ships immediately.All other sizes and
              combinations are made to order and ship in 4-10 business days.In a rush or have questions?...</p>
          </div>
        </div>
        <div class="line my-3"></div>
        <div class="product-result row">
          <div class="product-img col-4 ps-0">
            <div class="card-prd">
              <div class="img">
                <a routerLink="/product-detail">
                  <img src="./assets/img/search/search5.png">
                </a>
              </div>
              <div class="compare card-prd-bt smt">
                <a routerLink="/product-detail">View detail</a>
              </div>
            </div>
          </div>
          <div class="product-info col-8 pe-0">
            <h6 class="mb-2">Lynn Ring</h6>
            <p class="mdt mb-3">$8.700,00</p>
            <p class="smt">Size 5 and size 6 in 14k yellow gold, size 6 in 14k white gold with white diamonds, and size
              6 in 14k yellow gold with rubies, emeralds, or black diamonds ships immediately.All other sizes and
              combinations are made to order and ship in 4-10 business days.In a rush or have questions?...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<!--Back to top-->
<div class="to-top" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <i class="fa fa-arrow-circle-up fa-3x"></i>
</div>


