<div class="container">
  <!--category-top-->
  <div class="category-top row pbt-100">
    <div class="col-3">
      <a routerLink="#"><img src="./assets/img/rings/top-bar/1.png" /></a>
    </div>
    <div class="col-3">
      <a routerLink="#"><img src="./assets/img/rings/top-bar/2.png" /></a>
    </div>
    <div class="col-3">
      <a routerLink="#"><img src="./assets/img/rings/top-bar/3.png" /></a>
    </div>
    <div class="col-3">
      <a routerLink="#"><img src="./assets/img/rings/top-bar/4.png" /></a>
    </div>
  </div>

  <!--category-side-->
  <div class="col-2">
    <form>
      <p>Collection</p>
      <input type="checkbox" id="collection-1" name="collection-1" value="Sping Collection">
      <label for="collection-1">   Sping Collection</label><br>
      <input type="checkbox" id="collection-2" name="collection-2" value="Aguri Minimalism">
      <label for="collection-2">   Aguri Minimalism</label><br>
      <input type="checkbox" id="collection-3" name="collection-3" value="Aguri's Eternity Magic">
      <label for="collection-3">   Eternity Magic</label><br>
      <input type="checkbox" id="collection-4" name="collection-4" value="End-Off-Year Collection">
      <label for="collection-4">   End-Off-Year</label><br>
    </form>
  </div>

  <!--category-main-->
  <div class="col-10">

  </div>
</div>
