/*DETAIL*/
.bag{
  margin-bottom:20px;
  margin-top:20px;
}
.ask-advisor{
  margin-bottom:20px;
}
/*SELECT FORM*/
/*Breadcrumb*/
.breadcrumb{
  padding: 16px 0px;
}
.breadcrumb .breadcrumb-item a{
  font-size:14px;
}
/*FIND SIZE*/
.mx12{
  padding-left:25px;
  padding-right:25px;
}
.size-title th{
  font-size:14px;
  font-weight:600;
}
.ring-size td{
  padding:10px 0px;
}
/*Ask a client advisor*/

.review-name{
  margin-bottom:40px;
}
/*Description & Detail*/

/*Similar-product*/

/*Compare*/
.simi-prod{
  margin-top:120px;
  margin-bottom:120px;
}

.itm{
  margin-top:20px;
  margin-bottom:10px;
}
.simi-left{
  padding-left:0px;
}
.simi-right{
  padding-right:0px;
}
/*Review*/
.review-start{
  justify-content: center;
}
.rate-start{
  margin-bottom:20px;
}
.review-box{
  margin-top:40px;
  margin-bottom:60px;
}
/*exlore collection*/
.more-collection{
  background: #fff;
}
.collec-left{
  position: relative;
}
.collec-img{
  position:absolute;
  bottom:0;
}
.collec-content{
  margin-top:38%;
}
/*collapse*/
.card {
  background-color: #fff;
  border: none;
}

.qty {
  font-size: 20px;
}

