<div [class]="'headnav '+(show?'nav--hidden':'')">
  <!--HEADER-->
  <header class="section top-page">
    <div class="header card-header border-0 container">
      <div class="row header-inner">
        <!--top-page-left-->
        <div class="col-3 top-page-start">
          <ul class="d-flex justify-content-start">
            <li class="py-1"><a href="https://www.facebook.com/aguri-jewellery"><i class="fa-brands fa-lg fa-facebook"></i></a></li>
            <li class="py-1 px-3"><a href="https://www.instagram.com/aguri-jewellery"><i class="fa-brands fa-lg fa-instagram"></i></a></li>
            <li class="py-1"><a href="https://www.pinterest.com/aguri-jewellery"><i class="fa-brands fa-lg fa-pinterest"></i></a></li>
          </ul>
        </div>
        <!--logo-->
        <div class="col-6 d-flex justify-content-center">
          <img id="logo" src="./assets/img/logo.svg" alt="aguri-logo"/>
        </div>
        <!--top-page-right-->
        <div class="col-3 top-page-end">
          <ul class="d-flex justify-content-end">
            <li class="py-1">
              <!--Modal Sign In Button-->
              <a class="sign-in" data-bs-toggle="modal" type="button" data-bs-target="#sign-in">Sign in</a>
            </li>
            <div>
              <li class="px-3 py-1"><i class="fa fa-shopping-cart fa-lg" data-bs-toggle="offcanvas" data-bs-target="#addbag"></i></li>
              <!--OFFCANVSS ADD BAG-->
              <div class="offcanvas offcanvas-end" id="addbag">
                <div class="offcanvas-body">
                  <h6 class="offcanvas-title mt-3">YOUR CART IS CURRENTLY EMPTY.</h6>
                  <p>Continue shopping  <a routerlink="#">Here</a></p>
                  <button class="btn btn-pri btnlg mt-3" type="button" routerLink="/order-detail">View Cart</button>
                </div>
              </div>
            </div>
            <!--search-button-start-->
            <div class="search-box">
                <input type="text" placeholder="search...">
                <a routerLink="/search" class="iconsearch">
                  <i class="fa fa-search fa-lg"></i>
                </a>
            </div>
            <!--search-button-end-->
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!--NAVBAR-->
  <nav class="section header">
    <div class="container navbar-here border-0">
      <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" routerLink="/">HOME</a></li>
        <!--dropdown-menu-start-->
        <li class="nav-item dropdown">
          <a class="nav-link dropbtn" routerLink="/shop-all">SHOP ALL<i class="fa-solid fa-chevron-down"></i></a>
          <div class="dropdown-content mt-2">
            <div class="row">
              <div class="col-3">
                <ul>
                  <li class="category"><a routerLink="/category/1">Rings</a></li>
                  <li><a routerLink="/sub-category/1">Eternity</a></li>
                  <li><a routerLink="/sub-category/1">Cocktail</a></li>
                  <li><a routerLink="/sub-category/1">Wedding</a></li>
                </ul>
              </div>
              <div class="col-3">
                <ul>
                  <li class="category"><a routerLink="">Earrings</a></li>
                  <li><a routerLink="">Stud</a></li>
                  <li><a routerLink="">Drop & Dangle</a></li>
                  <li><a routerLink="">Hoop</a></li>
                </ul>
              </div>
              <div class="col-3">
                <ul>
                  <li class="category"><a routerLink="">Bracelets</a></li>
                  <li><a routerLink="">Chain</a></li>
                  <li><a routerLink="">Bangle</a></li>
                  <li><a routerLink="">Tennis</a></li>
                </ul>
              </div>
              <div class="col-3">
                <ul>
                  <li class="category"><a routerLink="">Necklaces</a></li>
                  <li><a routerLink="">Chain</a></li>
                  <li><a routerLink="">Everyday</a></li>
                  <li><a routerLink="">Layering</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!--dropdown-menu-end-->
        <li class="nav-item nav-test">
          <a class="nav-link" routerLink="/guide">JEWELLERY GUIDE</a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/about-us">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact">CONTACT</a></li>
      </ul>
    </div>
  </nav>
</div>

<section>
  <router-outlet></router-outlet>
</section>

<!--FOOTER-->
<footer>
  <div class="border-bottom-0 border-left-0 border-right-0 container">
    <div class="card-footer row">
      <div class="col-2">
        <ul>
          <li><p class="mdt">Explore</p></li>
          <li class="mb-1">Home</li>
          <li class="mb-1">About Us</li>
          <li>Jewellery Guide</li>
        </ul>
      </div>
      <div class="col-2">
        <ul>
          <li><p class="mdt">Jewellery</p></li>
          <li class="mb-1">Rings</li>
          <li class="mb-1">Earrings</li>
          <li class="mb-1">Bracelets</li>
          <li>Necklaces</li>
        </ul>
      </div>
      <div class="col-2">
        <ul>
          <li><p class="mdt">More</p></li>
          <li class="mb-1">Size guide</li>
          <li class="mb-1">Shipping & Returns</li>
          <li>Product care & Repair</li>
        </ul>
      </div>
      <div class="col-2">
        <ul class="follow-us">
          <li><p class="mdt">Follow us</p></li>
          <li>
            <a href="https://www.facebook.com/aguri-jewellery"><i class="fa-brands fa-facebook fa-lg"></i></a>
            <a href="https://www.instagram.com/aguri-jewellery"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a href="https://www.pinterest.com/aguri-jewellery"><i class="fa-brands fa-pinterest fa-lg"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-4 subscribe-form">
        <p class="mdt">Subscribe to All Things AGURI</p>
        <form class="subscribe" onsubmit="alert('Thank you for subscription!\nWe will send you email about our updates.')">
          <div>
            <label class="smt">Email address</label>
            <input class="inpu col-12 border-top-0 border-left-0 border-right-0" type="email" required>
          </div>
          <button class="btn btnsm btn-pri" type="submit">Join now</button>
        </form>
      </div>
    </div>

    <!--copy-right-->
    <div class="copy-right text-center">
      <p class="smt">© AGURI&PIJ.2022</p>
    </div>
  </div>
</footer>


<!-- Modal Sign in-->
<div class="modal fade" id="sign-in">
  <div class="modal-dialog modal-dialog-centered first-steps">
    <div class="modal-content first-steps-inner">
      <h5 class="modal-title mb-4 text-center">Welcome to AGURI!</h5>
      <form>
        <div class="mb-3">
          <label for="email">Email address</label>
          <input class="inpu" type="text" name="email" required>
        </div>
        <div>
          <label for="psw">Password</label>
          <input class="inpu" type="password" name="psw" required>
        </div>
        <button type="submit" class="btn btn-pri my-4 w-100">Sign in</button>
        <div class="d-flex sign-in-content">
          <div class="signin-inner">
            <a class="forgot-pass smt me-5" data-bs-toggle="modal" type="submit" data-bs-target="#forgot-pass">Forgot password?</a>
            <span class="smt">New member?<a class="sign-up smt" data-bs-toggle="modal" type="button" data-bs-target="#sign-up">Sign up</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Forgot Password-->
<div class="modal fade" id="forgot-pass">
  <div class="modal-dialog modal-dialog-centered first-steps">
    <div class="modal-content first-steps-inner">
      <h5 class="modal-title mb-4 text-center">Forgot your password?</h5>
      <!--name="myFormBottom" onsubmit="return validateFormBottom()"-->
      <form>
        <label for="email">Email address</label>
        <input class="inpu" type="text" name="email" required>
        <button type="submit" class="btn btn-pri my-4 w-100">Reset Password</button>
        <div class="text-center">
            <a class="smt" data-bs-toggle="modal" type="submit" data-bs-target="#sign-in">Back to Sign in</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Sign up-->
<div class="modal fade" id="sign-up">
  <div class="modal-dialog modal-dialog-centered first-steps">
    <div class="modal-content first-steps-inner">
      <h5 class="modal-title mb-4 text-center">Hello, Friend!</h5>
      <form>
        <div class="row">
          <div class="col-6 ps-0">
            <label>First name</label>
            <input class="inpu" type="text" required><br>
          </div>
          <div class="col-6 pe-0">
            <label>Last name</label>
            <input class="inpu" type="text" required><br>
          </div>
        </div>
        <div class="my-3">
          <label for="email">Email address</label>
          <input class="inpu" type="text" name="email" id="email" required>
        </div>
        <div class="">
          <label for="psw">Create Password</label>
          <input class="inpu" type="password" name="psw" id="psw" required>
        </div>
        <div class="my-3">
          <label for="psw-repeat">Re-type Password</label>
          <input class="inpu" type="password" name="psw-repeat" id="psw-repeat" required>
        </div>
        <button type="submit" class="registerbtn signin btn btn-pri my-4 w-100">Sign up</button>
        <div class="d-flex sign-in-content w-100">
          <div class="signin-inner">
            <span class="smt">Already have an account? <a class="sign-in smt" data-bs-toggle="modal" type="button" data-bs-target="#sign-in">Sign in</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>





