/*CATEGORY*/
.sub-cate-box:hover > .sub-cate-img{
  transition: 0.5s;
  transform: scale(108%);
  filter:brightness(90%);
}
.sub-cate-box{
  position:relative;
  overflow:hidden;
}
.sub-name{
  position:absolute;
  bottom:10px;
  left:10px;
}

.check-box {
  margin-right: 10px;
}
.category-side-bar .btn {
  width: 100%;
  padding: 5px;
}
.category-side-bar .btn:hover {
  background-color: #000;
  color: #fff;
}

.category-main a img:hover {
  opacity: 0.5;
}
.category-main .card {
  border: none;
  background-color: #FAF8F6;
}
.category-main h6 {
  font-size: small;
}
.cate-product{
  margin-bottom:9px;
}
/*Featured Product*/
.featured {
  position: relative;
  overflow:hidden;
}
.overlay {
  position: absolute;
  top: calc(50% - 80px);
  width: 100%;
  padding: 50px 0;
  text-align: center;
  display:none;
}
.featured:hover > .overlay{
  display:block;
}
.featured:hover >.featured-img{
  transform:scale(108%);
  transition:0.6s all;
}


.back-to-top {
  color: #999;
}
.back-to-top:hover {
  color: #000;
}

