<div class="container">
  <h4 class="text-center">Thank you! Your Order Has Been Processed!</h4>
  <p class="mdt">You will receive an order confirmation email with details of your order</p>
  <div class="row">
    <div class="col-2"></div>
    <div class="row col-8">
      <div class="col-6">
        <button class="btn btnlg btn-pri">Continue shopping</button>
      </div>
      <div class="col-6">
        <button class="btn btnlg btn-sec">Continue shopping</button>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
