/*New Arrivals*/

/*All jewellery*/
.item-box-content a{
  color:#fff;
}
.item-box-content a:hover{
  color:#fff;
  text-decoration: underline;
}

/*Best seller*/
.best-seller{
  background-color: #fff;
  padding-top:60px;
  padding-bottom:60px;
}

/*New Collection*/
.new-collection-bottom{
  display:flex;
  padding-top:40px;
}
.new-collection-content{
  margin:auto;
  padding: 0px 40px;
}
.feature-img2 img{
  padding-top:210px;
}
/*experiences*/
.experiences{
  background-color: #fff;
  padding-top:80px;
  padding-bottom:80px;
}

/*Showroom*/




