<quick-view [quickviewed]="quickviewed"></quick-view>
<div class="ctg">
  <div class="row ctg-inner">
    <div class="ctg-left col-8">
      <div class="ctg-left-top">
        <div class="d-flex">
          <div class="left-top">
            <a>
              <img src="./assets/img/shop-all/ctg1.png">
            </a>
          </div>
          <div class="center-top">
            <a>
              <img src="./assets/img/shop-all/ctg2.png">
            </a>
          </div>
        </div>
      </div>
      <div class="ctg-left-btm">
        <div class="d-flex">
          <div class="left-btm">
            <img src="./assets/img/shop-all/ctg4.png">
          </div>
          <div class="center-btm">
            <a>
              <img src="./assets/img/shop-all/ctg5.png">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ctg-right col-4">
      <div class="right-top">
        <a>
          <img src="./assets/img/shop-all/ctg3.png">
        </a>
      </div>
      <div class="right-btm">
        <img src="./assets/img/shop-all/ctg6.png">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--New Arrivals-->
  <div class="simi-prod new-arrivals mbt-120">
    <div class="row">
      <div class="col-3">
        <h5 class="mt-5">New Arrivals</h5>
        <p class="smt mt-2">AGURI designs reinvent our iconic AGURI collection with bold profiles and powerful details.</p>
      </div>
      <div class="col-9">
        <div id="newarrival" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1300">
              <div class="row">
                <div class="col-4">
                  <div class="item-card-info">
                    <div class="card-prd">
                      <div class="img">
                        <a routerlink="/product-detail">
                          <img src="./assets/img/home/new1.png">
                        </a>
                      </div>
                      <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                        Quick view
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="item-card-info">
                    <div class="card-prd">
                      <div class="img">
                        <a routerlink="/product-detail">
                          <img src="./assets/img/home/new2.png">
                        </a>
                      </div>
                      <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                        Quick view
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="item-card-info">
                    <div class="card-prd">
                      <div class="img">
                        <a routerlink="/product-detail">
                          <img src="./assets/img/home/new3.png">
                        </a>
                      </div>
                      <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                        Quick view
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="1300">
              <div class="row">
                <div class="col-4">
                  <div class="item-card-info">
                    <div class="card-prd">
                      <div class="img">
                        <a routerlink="/product-detail">
                          <img src="./assets/img/home/new4.png">
                        </a>
                      </div>
                      <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                        Quick view
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="item-card-info">
                    <div class="card-prd">
                      <div class="img">
                        <a routerlink="/product-detail">
                          <img src="./assets/img/home/new5.png">
                        </a>
                      </div>
                      <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                        Quick view
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="item-card-info">
                    <div class="card-prd">
                      <div class="img">
                        <a routerlink="/product-detail">
                          <img src="./assets/img/home/new6.png">
                        </a>
                      </div>
                      <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                        Quick view
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="1300">
              <div class="row">
                <div class="col-4">
                  <div class="item-card-info">
                    <div class="card-prd">
                      <div class="img">
                        <a routerlink="/product-detail">
                          <img src="./assets/img/home/new7.png">
                        </a>
                      </div>
                      <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                        Quick view
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="item-card-info">
                    <div class="card-prd">
                      <div class="img">
                        <a routerlink="/product-detail">
                          <img src="./assets/img/home/new8.png">
                        </a>
                      </div>
                      <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                        Quick view
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="item-card-info">
                    <div class="card-prd">
                      <div class="img">
                        <a routerlink="/product-detail">
                          <img src="./assets/img/home/new9.png">
                        </a>
                      </div>
                      <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                        Quick view
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Compare-->
  <div class="modal fade" id="compare">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <h5 class="modal-title" id="exampleModalLabel">Compare Products</h5>
        <div class="row">
          <div class="col-6 simi-left">
            <div class="itm">
              <a href="#">
                <img src="./assets/img/product-detail/compare1.png">
              </a>
              <div class="item-inf text-center">
                <p class="mdt my-2">Diamond Spark Ring</p>
                <p class="mdt">$6,700</p>
              </div>
            </div>
            <div class="jewel">
              <p class="mdt">Jewellery</p>
              <p class="smt my-2">NaturalJewelry</p>
              <p class="smt mb-0">Round brilliant diamonds</p>
              <p class="smt my-2">4mm width</p>
              <p class="smt">Carat total weight .48</p>
            </div>
            <div class="line"></div>
            <div class="mater">
              <p class="mdt">Material</p>
              <p class="smt">16k White gold</p>
            </div>
            <button type="button" class="btn btn-pri btnsm" data-bs-dismiss="modal">Add to bag</button>
          </div>
          <div class="col-6 simi-right">
            <div class="itm">
              <a href="#">
                <img src="./assets/img/product-detail/compare2.png">
              </a>
              <div class="item-inf text-center">
                <p class="mdt my-2">Enternity Diamond Ring</p>
                <p class="mdt">$7,000</p>
              </div>
            </div>
            <div class="jewel">
              <p class="mdt">Jewellery</p>
              <p class="smt my-2">Natural & Lab-grown Jewelry</p>
              <p class="smt mb-0">Pear brilliant diamonds</p>
              <p class="smt my-2">2.5mm width x2</p>
              <p class="smt">Carat total weight .50</p>
            </div>
            <div class="line"></div>
            <div class="mater">
              <p class="mdt">Material</p>
              <p class="smt">18k Rose gold</p>
            </div>
            <button type="button" class="btn btn-pri btnsm" data-bs-dismiss="modal">Add to bag</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--All-jewellery-->
  <div class="all-jewelery mbt-120">
    <div class="row mbt">
      <div class="col-4 all-top">
        <div class="top-content">
          <h4 class="mb-1">Aguri's Jewellery</h4>
          <p class="smt mb-3">Forward-thinking fine jewelry essentials for individuals of all.</p>
        </div>
        <div class="item-box-all">
          <div class="item-box-img">
            <a routerLink="#">
              <img src="./assets/img/home/all-j1.png"/>
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="#">
              <h5>Necklaces</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="item-box-all">
          <div class="item-box-img">
            <a routerLink="#">
              <img src="./assets/img/home/all-j2.png"/>
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="#">
              <h5>Bracelets</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row all-bottom">
      <div class="col-4 bottom-content">
        <div class="bottom-content-inner">
          <p class="text-right decor-text mb-0">Forward-thinking fine jewelry essentials for individuals of all genders that breathe new life into classic silhouettes.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="item-box-all">
          <div class="item-box-img">
            <a routerLink="/category/1">
              <img src="./assets/img/home/all-j3.png"/>
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="#">
              <h5>Rings</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="item-box-all">
          <div class="item-box-img">
            <a routerLink="#">
              <img src="./assets/img/home/all-j4.png"/>
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="#">
              <h5>Earrings</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="change-bg">
  <!--BEST SELLERS-->
  <div class="also-like best-seller mbt-120">
    <h5 class="text-center mb-4">Best Sellers</h5>
    <div id="bestseller" class="carousel slide carousel-dark slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner container">
        <div class="carousel-item active" data-bs-interval="3000">
          <div class="row">
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like1.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like2.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like3.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like4.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="row">
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like5.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like6.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like7.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like8.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="row">
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like5.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like6.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like7.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="item-card-info">
                <div class="card-prd">
                  <div class="img">
                    <a href="#">
                      <img src="./assets/img/product-detail/also-like8.png">
                    </a>
                  </div>
                  <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                    Quick view
                  </div>
                </div>
                <div class="item-inf text-center mt-2">
                  <p class="mdt mb-1">Lynn Ring</p>
                  <p class="smt">$7,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#bestseller" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#bestseller" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!--All about us-->
  <div class="about row mbt-120">
    <div class="col-2"></div>
    <div class="col-8 text-center">
      <h4 class="mb-3">We Are More Than Jewels</h4>
      <p class="smt mt-40 mb-5">
        Aguri is a fine jewelry destination for memorable pieces designed and crafted in New York City.
        Our carefully considered selection of rings, necklaces, earrings and bracelets honors mindful production and genuine materials.
      </p>
      <button class="btn btnlg btn-pri" routerLink="/about-us">More about us</button>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<!--New collection-->
<div class="aguri-collection">
  <div class=" new-collection mbt-120 container">
    <div class="row">
      <div class="col-5 new-collection-left ps-0">
        <a routerlink="#">
          <img src="./assets/img/home/feature1.png">
        </a>
      </div>
      <div class="col"></div>
      <div class="col-6 new-collection-right pe-0">
        <div class="row new-collection-top">
          <div class="col-6 feature-img2 ps-0 new-collection-img">
            <div class="collection-img">
              <a routerlink="#">
                <img src="./assets/img/home/feature2.png">
              </a>
            </div>
          </div>
          <div class="col-6 pe-0 new-collection-img">
            <div class="collection-img">
              <a routerlink="#">
                <img src="./assets/img/home/feature3.png">
              </a>
            </div>
          </div>
        </div>
        <div class="new-collection-bottom">
          <div class="text-center new-collection-content">
            <p class="mdt mb-1">Less is more</p>
            <h5 class="mb-2">Embody the beauty of impermanence</h5>
            <p class="smt mb-4">Forward-thinking fine jewelry essentials for individuals of all genders that breathe new life into classic
              silhouettes.</p>
            <button class="btn btnlg btn-pri" type="button">Shop now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Users Experiences-->
<div class="experiences mbt-120">
  <div class="container">
    <h4 class="text-center mb-5">The Aguri Experience</h4>
    <div class="row">
      <div class="col-4 text-center ps-0 experience-user">
        <div class="px-4 experience-inner">
          <i class="fa-regular fa-truck fa-2x"></i>
          <p class="mdt mb-0 mt-3 mb-2">Complimentary Shipping & Returns</p>
          <p class="smt">We offer complimentary shipping and returns on all AGURI’s order</p>
          <a class="decor-text" routerLink="#">Learn more <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="px-4">
          <i class="fa-regular fa-calendar fa-2x"></i>
          <p class="mdt mb-0 mt-3 mb-2">Complimentary Shipping & Returns</p>
          <p class="smt">We offer complimentary shipping and returns on all AGURI’s order</p>
          <a class="decor-text" routerLink="#">Book now <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-4 text-center pe-0">
        <div class="px-4">
          <i class="fa-regular fa-gift fa-2x"></i>
          <p class="mdt mb-0 mt-3 mb-2">Complimentary Shipping & Returns</p>
          <p class="smt">We offer complimentary shipping and returns on all AGURI’s order</p>
          <a class="decor-text" routerLink="#">Explore gift <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Showroom-->
<div class="container showroom mbt-120">
  <div class="row">
    <div class="col-4 ps-0">
        <h4 class="mb-3">Our Showrooms</h4>
        <p class="smt mb-1"><i class="fas fa-map-marker-alt"></i> 6901 Hollywood Blvd, LA, CA 90028, US</p>
        <p class="smt"><i class="fas fa-map-marker-alt"></i> 10 NorthumbeCartrland St, London WC2N5DB, UK</p>
        <p class="smt mt-3">Email info@AGURI&PIJ2022.com for appointment</p>
      </div>
    <div class="col-2 showroom bottom-content">
      <div class="bottom-content-inner">
        <p class="text-right decor-text mb-0">We’re happy to help with in-store or virtual appointments</p>
      </div>
    </div>
    <div class="col-6 pe-0">
        <!--carousel showroom-->
        <div id="carouselshowroom" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselshowroom" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselshowroom" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselshowroom" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
              <img src="./assets/img/home/showroom1.png"/>
            </div>
            <div class="carousel-item" data-bs-interval="1000">
              <img src="./assets/img/home/showroom2.png"/>
            </div>
            <div class="carousel-item" data-bs-interval="1000">
              <img src="./assets/img/home/showroom3.png"/>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!--GET INSPIRATION-->
<div class="inspiration mbt-120">
  <h4 class="mb-2 text-center">Get Inspiration</h4>
  <p class="smt mb-4 text-center">Tag us on your insta to get a chance for a feature</p>
  <div id="inspiration-carousel" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
    <div class="carousel-inner container">
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="row">
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow1.png"/>
          </div>
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow2.png"/>
          </div>
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow3.png"/>
          </div>
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow4.png"/>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="row">
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow5.png"/>
          </div>
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow6.png"/>
          </div>
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow7.png"/>
          </div>
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow8.png"/>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="row">
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow9.png"/>
          </div>
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow10.png"/>
          </div>
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow11.png"/>
          </div>
          <div class="col-3 px-0">
            <img src="./assets/img/home/follow12.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Back to top-->
<div class="to-top" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <i class="fa-solid fa-circle-arrow-up fa-2xl"></i>
</div>




