
<!--Showcase-->
<div class="container aguri-showcase mbt-120">
    <div class="row">
      <div class="col-6 showcase-main-img row">
        <div id="carousel-main" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <div class="col-10 showcase-img">
                <a routerlink="#">
                  <img src="./assets/img/home/showcase-b1.png">
                </a>
              </div>
              <div class="decor-showcase-slide">
                  <a class="round-button">
                    <i class="fa-solid fa-arrow-right fa-2x"></i>
                  </a>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="col-10 showcase-img">
                <a routerlink="#">
                  <img src="./assets/img/home/showcase-b2.png">
                </a>
              </div>
              <div class="decor-showcase-slide">
                <a class="round-button">
                  <i class="fa-solid fa-arrow-right fa-2x"></i>
                </a>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="col-10 showcase-img">
                <a routerlink="#">
                  <img src="./assets/img/home/showcase-b3.png">
                </a>
              </div>
              <div class="decor-showcase-slide">
                <a class="round-button">
                  <i class="fa-solid fa-arrow-right fa-2x"></i>
                </a>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="col-10 showcase-img">
                <a routerlink="#">
                  <img src="./assets/img/home/showcase-b4.png">
                </a>
              </div>
              <div class="decor-showcase-slide">
                <a class="round-button">
                  <i class="fa-solid fa-arrow-right fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 ps-0 showcase-content">
        <div class="showcase-title row">
          <div class="col-8 showcase-title-inner">
            <p class="decor-text mb-1">AGURI'S COLLECTION</p>
            <h4 class="mb-2">Our Precious Jewelry Collections</h4>
            <p class="smt">
              Our goal is to offer you beautiful, classy and timeless jewellery that won't break the bank. We guarantee
              the highest quality pieces you can rock everyday and for all occasions.
            </p>
          </div>
          <div class="col-2"></div>
        </div>
        <!--carousel-showcase-small-img-->
        <div id="carousel-sub" class="carousel-dark carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <div class="row">
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s1.png">
                  </a>
                </div>
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s2.png">
                  </a>
                </div>
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s3.png">
                  </a>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="row">
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s4.png">
                  </a>
                </div>
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s6.png">
                  </a>
                </div>
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s5.png">
                  </a>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="row">
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s3.png">
                  </a>
                </div>
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s4.png">
                  </a>
                </div>
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s6.png">
                  </a>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <div class="row">
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s5.png">
                  </a>
                </div>
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s3.png">
                  </a>
                </div>
                <div class="col-4">
                  <a routerlink="#">
                    <img src="./assets/img/home/showcase-s4.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!--New Arrivals-->
<div class="simi-prod new-arrivals mbt-120">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h5 class="mt-5">New Arrivals</h5>
        <p class="smt mt-2">AGURI designs reinvent our iconic AGURI collection with bold profiles and powerful details.</p>
      </div>
      <div class="col-9 pe-0">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
              <div class="row">
                <div class="col-4" *ngFor="let item of newArrival | slice: 0:3">
                  <div class="card-prd">
                    <div class="img">
                      <a routerLink="/product-detail/{{item.pid}}">
                        <img src="{{item.thumb}}">
                      </a>
                    </div>
                    <div (click)="quickview(item)" class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                      Quick view
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <div class="row">
                <div class="col-4" *ngFor="let item of newArrival | slice: 3:6">
                  <div class="card-prd">
                    <div class="img">
                      <a routerLink="/product-detail/{{item.pid}}">
                        <img src="{{item.thumb}}">
                      </a>
                    </div>
                    <div (click)="quickview(item)" class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                      Quick view
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <div class="row">
                <div class="col-4" *ngFor="let item of newArrival | slice: 6:9">
                  <div class="card-prd">
                    <div class="img">
                      <a routerLink="/product-detail/{{item.pid}}">
                        <img src="{{item.thumb}}">
                      </a>
                    </div>
                    <div (click)="quickview(item)" class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                      Quick view
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--All-jewellery-->
<div class="container">
  <div class="all-jewelery mbt-120">
    <div class="row mbt">
      <div class="col-4 all-top">
        <div class="top-content">
          <h4 class="mb-1">Aguri's Jewellery</h4>
          <p class="smt mb-3">Shop our carefully considered selection of rings, necklaces, earrings and bracelets</p>
        </div>
        <div class="item-box-all">
          <div class="item-box-img">
            <a routerLink="/category/4">
              <img src="./assets/img/home/all-j1.png"/>
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="/category/4">
              <h5>Necklaces</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="item-box-all">
          <div class="item-box-img">
            <a routerLink="/category/3">
              <img src="./assets/img/home/all-j2.png"/>
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="/category/3">
              <h5>Bracelets</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row all-bottom">
      <div class="col-4 bottom-content">
        <div class="bottom-content-inner">
          <p class="text-right decor-text mb-0">Forward-thinking fine jewelry essentials for individuals of all genders that breathe new life into classic silhouettes. For individuals of all genders that.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="item-box-all">
          <div class="item-box-img">
            <a routerLink="/category/1">
              <img src="./assets/img/home/all-j3.png"/>
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="/category/1">
              <h5>Rings</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="item-box-all">
          <div class="item-box-img">
            <a routerLink="/category/2">
              <img src="./assets/img/home/all-j4.png"/>
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="/category/2">
              <h5>Earrings</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Our Best Seller-->
<div class="also-like best-seller">
  <h5 class="text-center mb-4">Our Best Sellers</h5>
  <div id="bestseller" class="carousel slide carousel-dark" data-bs-ride="carousel">
    <div class="carousel-inner container">
      <div class="carousel-item active" data-bs-interval="3000">
        <div class="row">
          <div class="col-3" *ngFor="let item of bestSeller | slice: 0: 4">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a routerLink="/product-detail/{{item.pid}}">
                    <img src="{{item.thumb}}">
                  </a>
                </div>
                <div (click)="quickview(item)" class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-2">
                <p class="mdt mb-1">{{item.name}}</p>
                <p class="smt">{{item.price | currency:'USD'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="row">
          <div class="col-3" *ngFor="let item of bestSeller | slice: 4: 8">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a routerLink="/product-detail/{{item.pid}}">
                    <img src="{{item.thumb}}">
                  </a>
                </div>
                <div (click)="quickview(item)" class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-2">
                <p class="mdt mb-1">{{item.name}}</p>
                <p class="smt">{{item.price | currency:'USD'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="row">
          <div class="col-3" *ngFor="let item of bestSeller | slice: 8: 12">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a routerLink="/product-detail/{{item.pid}}">
                    <img src="{{item.thumb}}">
                  </a>
                </div>
                <div (click)="quickview(item)" class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-2">
                <p class="mdt mb-1">{{item.name}}</p>
                <p class="smt">{{item.price | currency:'USD'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#bestseller" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bestseller" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!--Modal Quick view-->
<div class="container">
  <div class="modal fade" id="quickview">
    <div class="modal-dialog modal-dialog-centered quickview">
      <div class="modal-content" *ngIf="quickviewed">
        <div class="row">
          <div class="col-7 ps-0">
            <img src="{{quickviewed.thumb}}">
          </div>
          <div class="col-5 pe-0">
            <h5>{{quickviewed.name}}</h5>
            <h5 class="my-3">{{quickviewed.price | currency:'USD'}}</h5>
            <form onsubmit="alert('The product was successfully added to bag!!')">
              <div class="d-flex">
                <p class="mdt me-auto">Quantity</p>
                <span class="buttons_added ml-1 qty-box">
                 <input aria-label="quantity" class="input-qty text-center" max="100" min="1" name="" type="number" value="" required>
               </span>
              </div>
              <div class="line"></div>
              <div class="quick-size my-3">
                <select class="form-select smt" required>
                  <option value="">Select size</option>
                  <option value="1">3</option>
                  <option value="2">3 1/2</option>
                  <option value="3">4</option>
                  <option value="4">4 1/2</option>
                  <option value="5">5</option>
                  <option value="6">5 1/2</option>
                </select>
              </div>
              <input type="submit" class="btn btn-pri my-3 w-100" value="Add to bag" data-bs-dismiss="modal">
            </form>
            <p class="mt-2">View more detail <a routerLink="/product-detail/{{quickviewed.pid}}" data-bs-dismiss="modal">
              <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--All about us-->
<div class="about row mbt-120">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h4 class="mb-3">We Are More Than Jewels</h4>
    <p class="smt mt-40 mb-5">
      Aguri is a fine jewelry destination for memorable pieces designed and crafted in New York City.
      Our carefully considered selection of rings, necklaces, earrings and bracelets honors mindful production and genuine materials.
    </p>
    <button class="btn btnlg btn-pri" routerLink="/about-us">More about us</button>
  </div>
  <div class="col-2"></div>
</div>

<!--New collection-->
<div class="aguri-collection">
  <div class=" new-collection mbt-120 container">
    <div class="row">
      <div class="col-5 new-collection-left ps-0">
        <a routerlink="#">
          <img src="./assets/img/home/feature1.png">
        </a>
      </div>
      <div class="col"></div>
      <div class="col-6 new-collection-right pe-0">
        <div class="row new-collection-top">
          <div class="col-6 feature-img2 ps-0 new-collection-img">
            <div class="collection-img">
              <a routerlink="#">
                <img src="./assets/img/home/feature2.png">
              </a>
            </div>
          </div>
          <div class="col-6 pe-0 new-collection-img">
            <div class="collection-img">
              <a routerlink="#">
                <img src="./assets/img/home/feature3.png">
              </a>
            </div>
          </div>
        </div>
        <div class="new-collection-bottom">
          <div class="text-center new-collection-content">
            <p class="mdt mb-1">Less is more</p>
            <h5 class="mb-2">Embody the beauty of impermanence</h5>
            <p class="smt mb-4">Forward-thinking fine jewelry essentials for individuals of all genders that breathe new life into classic
              silhouettes.</p>
            <button class="btn btnlg btn-pri" type="button">Shop the collection</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Users Experiences-->
<div class="experiences mbt-120">
  <div class="container">
    <h4 class="text-center mb-5">The Aguri Experience</h4>
    <div class="row">
      <div class="col-4 text-center ps-0 experience-user">
        <div class="px-4 experience-inner">
          <i class="fa-regular fa-truck fa-2x"></i>
          <p class="mdt mb-0 mt-3 mb-2">Complimentary Shipping & Returns</p>
          <p class="smt">We offer complimentary shipping and returns on all AGURI’s order</p>
        <a class="decor-text" routerLink="#">Learn more <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="px-4">
          <i class="fa-regular fa-calendar fa-2x"></i>
          <p class="mdt mb-0 mt-3 mb-2">Aguri At Your Service</p>
          <p class="smt">Our client care experts are always here to help.</p>
           <a class="decor-text" routerLink="/contact">Contact us<i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-4 text-center pe-0">
        <div class="px-4">
          <i class="fa-regular fa-gift fa-2x"></i>
          <p class="mdt mb-0 mt-3 mb-2">Free Gift Wrapping</p>
          <p class="smt">Your purchase comes wrapped in our Special Box packaging</p>
        <a class="decor-text" routerLink="#">Explore gift <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Showroom-->
<div class="container showroom mbt-120">
  <div class="row">
    <div class="col-4 ps-0">
        <h4 class="mb-3">Our Showrooms</h4>
        <p class="smt mb-1"><i class="fas fa-map-marker-alt"></i> 6901 Hollywood Blvd, LA, CA 90028, US</p>
<!--        <p class="smt"><i class="fas fa-map-marker-alt"></i> 10 NorthumbeCartrland St, London WC2N5DB, UK</p>-->
        <p class="smt mt-3">Email info@AGURI&PIJ2022.com for appointment</p>
      </div>
    <div class="col-2 showroom bottom-content">
      <div class="bottom-content-inner">
        <p class="text-right decor-text mb-0">We’re happy to help with in-store or virtual appointments</p>
      </div>
    </div>
    <div class="col-6 pe-0">
        <!--carousel showroom-->
        <div id="carouselshowroom" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselshowroom" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselshowroom" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselshowroom" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="./assets/img/home/showroom1.png"/>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="./assets/img/home/showroom2.png"/>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="./assets/img/home/showroom3.png"/>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!--GET INSPIRATION-->
<div class="inspiration mbt-120">
  <h4 class="mb-2 text-center">Get Inspiration</h4>
  <p class="smt mb-5 text-center">Tag us on your insta to get a chance for a feature</p>
  <div id="inspiration-carousel" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
    <div class="carousel-inner container">
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="row">
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow1.png"/>
            </a>
          </div>
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow2.png"/>
            </a>
          </div>
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow3.png"/>
            </a>
          </div>
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow4.png"/>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="row">
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow5.png"/>
            </a>
          </div>
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow6.png"/>
            </a>
          </div>
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow7.png"/>
            </a>
          </div>
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow8.png"/>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="row">
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow9.png"/>
            </a>
          </div>
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow10.png"/>
            </a>
          </div>
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow11.png"/>
            </a>
          </div>
          <div class="col-3 px-0">
            <a href="https://www.instagram.com/aguri-jewellery">
              <img src="./assets/img/home/follow12.png"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Back to top-->
<div class="to-top" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <span>Back to top</span><i class="fa fa-arrow-circle-up fa-3x"></i>
</div>
