/*New Arrivals*/
.new-arrivals{
  padding-top:100px;
}
/*Showcase*/

.showcase-content{
  position: relative;
}
.showcase-main-img{
  position: absolute;
  right:0px;
}
.showcase-title{
  padding-top:60px;
  margin-bottom:45px;
}
.showcase-img{
  position:relative;
}
.decor-showcase-slide{
  position: absolute;
  left:160px;
  top:63%;

}
/*All jewellery*/
.item-box-content a{
  color:#fff;
}
.item-box-content a:hover{
  color:#fff;
  text-decoration: underline;
}
/*Best seller*/
.best-seller{
  background-color: #fff;
  padding-top:60px;
  padding-bottom:60px;
}
/*New Collection*/
.new-collection-bottom{
  display:flex;
  padding-top:40px;
}
.new-collection-content{
  margin:auto;
  padding: 0px 40px;
}
.feature-img2 img{
  padding-top:210px;
}
.new-collection-img:hover > .collection-img{
  transform:scale(105%);
  filter:brightness(90%);
  transition:0.4s all;
}
/*experiences*/
.experiences{
  background-color: #fff;
  padding-top:80px;
  padding-bottom:80px;
}






