<div class="container shopping-bag">
  <h4 class="my-4">Shopping Bag</h4>
  <div class="table-summary">
    <div class="t-head row align-middle py-3 mb-3">
      <div class="col-5">
        <p class="mb-0">Product</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Size</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Quantity</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Price</p>
      </div>
      <div class="col">
        <p class="mb-0">Remove</p>
      </div>
    </div>
    <div class="t-row1 row">
      <div class="col-2">
        <img src="assets/img/product-detail/bag-prd1.png">
      </div>
      <div class="col-3">
        <p>AMEL EARRING</p>
      </div>
      <div class="col-2">
        <p>6</p>
      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <p>$6,700</p>
      </div>
      <div class="col">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="line my-3"></div>
    <div class="t-row2 row">
      <div class="col-2">
        <img src="assets/img/product-detail/bag-prd2.png">
      </div>
      <div class="col-3">
        <p>AMEL EARRING</p>
      </div>
      <div class="col-2">
        <p>6</p>
      </div>
      <div class="col-2"></div>
      <div class="col-2">
        <p>$6,700</p>
      </div>
      <div class="col">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="line my-3"></div>
  </div>
  <div class="row">
    <div class="col-3 ps-0">
      <button class="btn btn-sec btnlg" type="button" data-bs-toggle="modal" data-bs-target="#personalnote">Send a personal note</button>
      <!--Modal personal note-->
      <div class="modal fade" id="personalnote">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <h5 class="modal-title mb-4">Personal Note</h5>
            <p class="smt">Write below the message you want to include below. Your message will be printed in a cardboard
              that will be shipped with your order. Your personal note will be automatically saved when you click "SAVE".</p>
            <div class="my-3">
              <label>Write your personal note here</label>
              <textarea class="inpu" rows="4" required></textarea>
            </div>
            <button type="button" class="mt-2 btn btn-pri" data-bs-dismiss="modal">Send</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
    <div class="col-5 pe-0">
      <div class="d-flex mb-4">
        <h6 class="me-auto">Subtotal</h6>
        <h6>$11,700</h6>
      </div>
      <p class="smt">Receive it in Vietnam in 4 - 6 business day/s with Express Shipping.</p>
      <form>
        <div class="my-3">
          <input type="checkbox" class="check-box check-cate" id="collection-1" name="collection-1" value="Sping Collection" required>
          <label class="smt" for="collection-1">I accept the terms and conditions, privacy policy.</label><br>
        </div>
        <button class="btn btn-pri btnlg w-100" type="submit" routerLink="/check-out">Check out</button>
      </form>

      <p class="mt-3 smt">Do you have a coupon? Add it at checkout.</p>
    </div>
  </div>
</div>
<!--MAY YOU ALSO LIKE-->
<div class="also-like">
  <h5 class="text-center">You May Also Like</h5>
  <div id="carouselalsolike" class="carousel slide carousel-dark carousel-also" data-bs-ride="carousel">
    <div class="carousel-inner container">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="row">
          <div class="col-3" *ngFor="let item of bestSeller | slice: 0: 4">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a routerLink="/product-detail/{{item.pid}}">
                    <img src="{{item.thumb}}">
                  </a>
                </div>
                <div (click)="quickview(item)" class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-2">
                <p class="mdt mb-1">{{item.name}}</p>
                <p class="smt">{{item.price | currency:'USD'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="row">
          <div class="col-3" *ngFor="let item of bestSeller | slice: 4: 8">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a routerLink="/product-detail/{{item.pid}}">
                    <img src="{{item.thumb}}">
                  </a>
                </div>
                <div (click)="quickview(item)" class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-2">
                <p class="mdt mb-1">{{item.name}}</p>
                <p class="smt">{{item.price | currency:'USD'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-3" *ngFor="let item of bestSeller | slice: 8: 12">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a routerLink="/product-detail/{{item.pid}}">
                    <img src="{{item.thumb}}">
                  </a>
                </div>
                <div (click)="quickview(item)" class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-2">
                <p class="mdt mb-1">{{item.name}}</p>
                <p class="smt">{{item.price | currency:'USD'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselalsolike" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselalsolike" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!--Modal Quick view-->
<div class="container">
  <div class="modal fade" id="quickview">
    <div class="modal-dialog modal-dialog-centered quickview">
      <div class="modal-content" *ngIf="quickviewed">
        <div class="row">
          <div class="col-7 ps-0">
            <img src="{{quickviewed.thumb}}">
          </div>
          <div class="col-5 pe-0">
            <h5>{{quickviewed.name}}</h5>
            <h5 class="my-3">{{quickviewed.price | currency:'USD'}}</h5>
            <form onsubmit="alert('The product was successfully added to bag!!')">
              <div class="d-flex">
                <p class="mdt me-auto">Quantity</p>
                <span class="buttons_added ml-1 qty-box">
                 <input aria-label="quantity" class="input-qty text-center" max="100" min="1" name="" type="number" value="" required>
               </span>
              </div>
              <div class="line"></div>
              <div class="quick-size my-3">
                <select class="form-select smt" required>
                  <option value="">Select size</option>
                  <option value="1">3</option>
                  <option value="2">3 1/2</option>
                  <option value="3">4</option>
                  <option value="4">4 1/2</option>
                  <option value="5">5</option>
                  <option value="6">5 1/2</option>
                </select>
              </div>
              <input type="submit" class="btn btn-pri my-3" value="Add to bag">
            </form>
            <p class="mt-2">View more detail <a routerLink="/product-detail/{{quickviewed.pid}}" data-bs-dismiss="modal">
              <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
