<quick-view [quickviewed]="quickviewed"></quick-view>
<div class="container shopping-bag">
  <h4 class="my-4">Shopping Bag</h4>
  <div class="table-summary">
    <div class="t-head row align-middle py-3 mb-3">
      <div class="col-5">
        <p class="mb-0">Product</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Size</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Quantity</p>
      </div>
      <div class="col-2">
        <p class="mb-0">Price</p>
      </div>
      <div class="col">
        <p class="mb-0">Remove</p>
      </div>
    </div>
    <div class="t-row1 row">
      <div class="col-2">
        <img src="assets/img/product-detail/bag-prd1.png">
      </div>
      <div class="col-3">
        <p>Amel Earring</p>
      </div>
      <div class="col-2">
        <p>-</p>
      </div>
      <div class="col-2">x 1</div>
      <div class="col-2">
        <p>$6,700</p>
      </div>
      <div class="col">
        <i class="fas fa-trash-alt trash"></i>
      </div>
    </div>
    <div class="line my-3"></div>
    <div class="t-row2 row">
      <div class="col-2">
        <img src="assets/img/product-detail/bag-prd2.png">
      </div>
      <div class="col-3">
        <p>Lavie Ring</p>
      </div>
      <div class="col-2">
        <p>4</p>
      </div>
      <div class="col-2">x 1</div>
      <div class="col-2">
        <p>$5,000</p>
      </div>
      <div class="col">
        <i class="fas fa-trash-alt trash"></i>
      </div>
    </div>
    <div class="line my-3"></div>
  </div>
  <div class="row">
    <div class="col-3 ps-0">
      <button class="btn btn-sec btnlg" type="button" data-bs-toggle="modal" data-bs-target="#personalnote">Send a personal note</button>
      <!--Modal personal note-->
      <div class="modal fade" id="personalnote">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form ngNativeValidate onsubmit="alert('We have received your note.')">
              <h5 class="modal-title mb-4">Personal Note</h5>
              <p class="smt">Write below the message you want to include below. Your message will be printed in a cardboard
                that will be shipped with your order. Your personal note will be automatically saved when you click "SAVE".</p>
              <div class="my-3">
                <label>Write your personal note here</label>
                <textarea name="standalone" class="inpu" rows="4" required></textarea>
              </div>
              <button type="submit" class="mt-2 btn btn-pri w-100" data-bs-dismiss="modal">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
    <div class="col-5 pe-0">
      <div class="d-flex mb-4">
        <h6 class="me-auto">Subtotal</h6>
        <h6>$11,700</h6>
      </div>
      <p class="smt">Receive it in Vietnam in 4 - 6 business day/s with Express Shipping.</p>

      <button class="btn btn-pri btnlg w-100" type="submit" routerLink="/check-out">Check out</button>


    </div>
  </div>
</div>
<!--MAY YOU ALSO LIKE-->
<div class="also-like">
  <h5 class="text-center">You May Also Like</h5>
  <div id="carouselalsolike" class="carousel slide carousel-dark carousel-also" data-bs-ride="carousel">
    <div class="carousel-inner container">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="row">
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like1.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like2.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like3.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like4.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="row">
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like5.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like6.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like7.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like8.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like5.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like6.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like7.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item-card-info">
              <div class="card-prd">
                <div class="img">
                  <a href="#">
                    <img src="./assets/img/product-detail/also-like8.png">
                  </a>
                </div>
                <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
                  Quick view
                </div>
              </div>
              <div class="item-inf text-center mt-3">
                <p class="mdt mb-2">Lynn Ring</p>
                <p>$7,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselalsolike" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselalsolike" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

