
<div class="banner">
  <div class="banner-text">
    <h4 class="p-4">SHIPPING & RETURNS</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <div class="shipping">
        <h5 class="text-center">SHIPPING</h5>
        <div class="line my-3"></div>
        <div class="accordion accordion-flush" id="shipask1">
          <div class="accordion-item">
            <a class="accordion-header" id="shipask-h1">
              <p class="text-center mx-auto mdt collapsed" data-bs-toggle="collapse" data-bs-target="#shipask-b1">
                How much does it cost to ship my order?
              </p>
            </a>
            <div id="shipask-b1" class="accordion-collapse collapse" data-bs-parent="#shipask1">
              <div class="accordion-body text-center smt">
                <p>UK shipping costs £2.60</p>
                <p>Free shipping will automatically be added when you spend £45 or more</p>
                <p>International shipping is calculated at the checkout</p>
                <p>Free international shipping will automatically be added when you spend £80 or more</p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion accordion-flush" id="shipask2">
          <div class="accordion-item">
            <a class="accordion-header" id="shipask-h2">
              <p class="text-center mx-auto mdt collapsed" data-bs-toggle="collapse" data-bs-target="#shipask-b2">
                I didn't receive my order conformation or tracking number, where can I find it?
              </p>
            </a>
            <div id="shipask-b2" class="accordion-collapse collapse" aria-labelledby="shipask-h2" data-bs-parent="#shipask2">
              <div class="accordion-body text-center smt">
                <p>Please send us an email with your Name, Email & Order # and via our Contact Page.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion accordion-flush" id="shipask3">
          <div class="accordion-item">
            <a class="accordion-header" id="shipask-h3">
              <p class="text-center mx-auto mdt collapsed" data-bs-toggle="collapse" data-bs-target="#shipask-b3">
                How can I track my order?
              </p>
            </a>
            <div id="shipask-b3" class="accordion-collapse collapse" aria-labelledby="shipask-h3" data-bs-parent="#shipask3">
              <div class="accordion-body text-center smt">
                <p>UK orders will only be tracked when you spend £45 or more
                <p>International orders will only be tracked when you spend £80 or more. Please be patient, as tracking
                information can take a few days to update. To track the progress of your order, please visit Royal Mail.e</p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion accordion-flush" id="shipask4">
          <div class="accordion-item">
            <a class="accordion-header" id="shipask-h4">
              <p class="text-center mx-auto mdt collapsed" data-bs-toggle="collapse" data-bs-target="#shipask-b4">
                My item is lost in the mail, what do I do?
              </p>
            </a>
            <div id="shipask-b4" class="accordion-collapse collapse" aria-labelledby="shipask-h4" data-bs-parent="#shipask4">
              <div class="accordion-body text-center smt">
                <p>We are not responsible for items that are lost or damaged during shipping. You are also responsible
                  for your order if you enter the wrong shipping address.  Please email us immediately if you enter information
                  incorrectly, we will update your order if it has not been shipped yet. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion accordion-flush" id="shipask5">
          <div class="accordion-item">
            <a class="accordion-header" id="shipask-h5">
              <p class="text-center mx-auto mdt collapsed" data-bs-toggle="collapse" data-bs-target="#shipask-b5">
                When will my order arrive?
              </p>
            </a>
            <div id="shipask-b5" class="accordion-collapse collapse" aria-labelledby="shipask-h5" data-bs-parent="#shipask5">
              <div class="accordion-body text-center smt">
                <p>Your order is packed and shipped within 1-3  working days of your purchase.</p>
                <p>Average delivery time for domestic orders is 1-2 business days.</p>
                <p>Average delivery time for European orders is 5-10 business days via Royal Mail only (orders to Europe
                  are temporarily suspended due to a new strain in COVID-19 expect delays on your delivery</p>
                <p>Average delivery time for other International orders is 6-12 business days via Royal Mail only</p>
                <p>After your order is shipped from our HQ, it is out of our hands. We are not responsible for lost packages,
                  missed deliveries or undeliverable addresses.</p>
                <p>We ship Monday - Friday, with the exception of UK holidays.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="return">
        <h5 class="text-center">RETURN & EXCHANGE POLICY</h5>
        <div class="line my-3"></div>
        <p class="text-center smt">Faulty item: We sincerely apologies if you have experienced any fault with your ÁUREO jewellery. Our customer
          service team would be happy to assist - Please contact us before returning your item to us, so that our team -can
          advise you of next steps and time frames for a refund or replacement item. A photo is always appreciated so we
          can speed up the process. </p>
        <p class="text-center smt">Refund: We want you to be completely satisfied with your purchase. However, if the goods do not meet your
          expectations you may return the items within 14 days of receipt for a refund. (we recommend you use a tracked
          delivery service with proof of postage). Please note that you will have to bear the direct cost of returning
          the product. Once we’ve received your return, we’ll send you an email with an update. Returns are usually
          processed within seven working day, although this may vary during busy periods. Refunds will be issued to the
          original account used at purchase. Please note that international customs duties and sales taxes are NOT refunded
          for shipments outside the EU. Please ensure that your returns are sent back in the condition that you receive
          them in, with the original packaging.</p>
        <div class="text-center">
          <p>
            <span class="mdt">PLEASE NOTE</span>
            that for hygiene reasons we are unable to accept returns on earrings unless faulty.
          </p>
          <p class="smt">We cannot offer exchange or return for items that have been worn; if there are any signs of wear, we would not be able to accept the return. </p>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>


