.banner-img{
  background-image: url("/assets/img/about-us/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top:90px;
  padding-bottom:90px;
  background-position-y: center;
}
.about-us{
  margin-top: 100px;
}

/*Dear*/
.dear-info p{
  color:#999;
}
/*the-brand*/
.who{
  position:relative;
}
.who-right{
  position:absolute;
  right:0px;
  top:120px;
}
.who-content{
  padding-top:90px;
}

/*our-vision*/
.vision-content{
  position:relative;

}
.vision-inner{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);

}
.vision-inner{
  padding-left:40px;
  padding-right:120px;
}


/*our mission*/
.our-mission-text{
  padding-top:210px;
}
