/*the-brand*/
.the-brand {
  position: relative;
}

.the-brand-text {
  position: absolute;
  padding-top: 50px;
}
/**/

/*our-vision*/
.our-vision {
  margin-bottom: 100px;
}

.our-vision-img {
  width: fit-content;
  margin: auto;
  position: absolute;
  z-index: -1;
}

.our-vision-text {
  padding: 50px 200px 0 40px;
  margin: auto 0;
}

/**/

/*our mission*/
.our-mission-text {
  padding-top: 50px;
}

.our-mission-text-1 {
  padding-left: 100px;
}
/**/
