<div class="container">
  <!--introduction-->
  <div class="card">
    <div class="row">
      <div class="col-5 text-center">
        <h4>Introduction</h4>
      </div>
      <div class="col-7">
        AGURI is crafting the next generation of heirloom pieces. Each one is designed to transition seamlessly
        from one wearer to the next and complement each individual’s style in a unique way. Designed and produced in
        New York City, AGURI’s small team of expert jewelers utilizes recycled precious metals and reclaimed or
        ethically mined gemstones in each piece, sparking new life into materials that may otherwise be obsolete.
        Precious metals and reclaimed or ethically mined gemstones in each piece, sparking new life into materials
        that may otherwise be obsolete reclaimed or ethically.
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="./assets/img/about-us/1.png" />
      </div>
    </div>

  </div>
</div>
