<!--ALL CATEGORIES-->
<div class="container">
  <div class="row">
    <div class="col-4">
      <ul>
        <li><a>
          <h5>Rings</h5>
        </a></li>
        <li><a>
          <h5>Earrings</h5>
        </a></li>
        <li><a>
          <h5>Bracelets</h5>
        </a></li>
        <li><a>
          <h5>Necklaces</h5>
        </a></li>
      </ul>
      <a>
        <img src="./assets/img/shop-all/cate1.png">
      </a>
    </div>
    <div class="col-4">
      <a>
        <img src="./assets/img/shop-all/cate2.png">
      </a>
      <a>
        <img src="./assets/img/shop-all/cate3.png">
      </a>
    </div>
    <div class="col-4">
      <a>
        <img src="./assets/img/shop-all/cate4.png">
      </a>
      <h3>Auri's JewelleRy</h3>
    </div>
  </div>
  <!--Rings-->

</div>
