.ctg{
  margin-top:40px;
}
/*Cate-left*/
.cate-name ul li{
  margin-bottom:20px;
}
.cate-name ul li:nth-child(4){
  margin-bottom:0px;
}

/*Cate-center*/


/*Cate-right*/
.cate-right h3{
  padding: 62px 0px;
}


/*ring*/
.cate-all{
  margin-top:120px;
  margin-bottom:120px;
}
.Ring-all h4{
  margin-bottom:60px;
}

/*Earring*/
