
/*ALL CATEFORIES*/
/*LEFT*/
.ctg .ctg-inner .ctg-left{
  padding-right:5px !important;
  padding-left:0 !important;
}
.ctg-left-top .left-top{
  padding-right:5px;
}
.ctg-left-top .center-top{
  padding-left:5px;
}
.ctg-left-top{
  padding-bottom:10px;
}
.ctg-left-btm .left-btm{
  padding-right:5px;
}
.ctg-left-btm .center-btm{
  padding-left:5px;
}

/*RIGHT*/
.ctg .ctg-inner .ctg-right{
  padding-right:0 !important;
  padding-left:5px !important;
}

.collec-top{
  margin-bottom:100px;
  margin-top:60px;
}
.collec-top .right-top-collec img{
  position: absolute;
  bottom: 0;
  transform: translateY(100px);
}
.collec-btm .right-btm-collec{
  padding-top:100px;
}
.collec-btm{
  margin-bottom:100px;
}
.collec-img img{
  position: relative;
}
.collec-name{
  position: absolute;
  color:#fff;
}
.collec-name{
  bottom:25px;
  left:7%;
}
.collec-name-2{
  bottom:-10%;
  left:10%;
}
.collec-name-3{
  bottom:30%;
  left:11%;
}
.collec-name-4{
  bottom:4%;
  left:9%;
}
.collec-img{
  overflow: hidden;
}
.collec-img img{
  object-fit: cover;
  transition: transform 0.5s ease-out;
  display: block;
}
.collec-img:hover img{
  transform: scale(1.1);
}
.collec-cart:hover > .collec-name h5{
  text-decoration: underline;
}
.right-btm{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 295px;
}
.right-btm img{
  max-height: 285px;
}
