<!--ALL CATEGORIES-->
<div class="container ctg">
  <div class="row">
    <div class="col-4 cate-left">
      <div class="cate-name text-center">
        <div class="cate-name-all">
          <ul>
            <li *ngFor="let item of cate">
              <a routerLink="/category/{{item.cid}}"><h5>{{item.cate_name}}</h5></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item-box-all cate-neck mtp">
        <div class="item-box-img">
          <a [routerLink]="['/category', 4]">
            <img src="./assets/img/shop-all/cate1.png">
          </a>
        </div>
        <div class="item-box-content text-center">
          <a [routerLink]="['/category', 4]">
            <h5>Necklaces</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4 cate-center">
      <div class="item-box-all cate-ring mbt">
        <div class="item-box-img">
          <a [routerLink]="['/category', 1]">
            <img src="./assets/img/shop-all/cate2.png">
          </a>
        </div>
        <div class="item-box-content text-center">
          <a [routerLink]="['/category', 1]">
            <h5>Rings</h5>
          </a>
        </div>
      </div>
      <div class="cate-earr item-box-all mbt">
        <div class="item-box-img">
          <a [routerLink]="['/category', 2]">
            <img src="./assets/img/shop-all/cate3.png">
          </a>
        </div>
        <div class="item-box-content text-center">
          <a [routerLink]="['/category', 2]">
            <h5>Earrings</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4 cate-right">
      <div class="cate-bra mbt item-box-all">
        <div class="item-box-img">
          <a [routerLink]="['/category', 3]">
            <img src="./assets/img/shop-all/cate4.png">
          </a>
        </div>
        <div class="item-box-content text-center">
          <a [routerLink]="['/category', 3]">
            <h5>Bracelets</h5>
          </a>
        </div>
      </div>
      <h3 class="text-center">Aguri's JewelleRy</h3>
    </div>
  </div>

  <!--Rings-->
  <div class="Ring-all cate-all">
    <h4 class="text-center">Rings</h4>
    <div class="row">
      <div class="col-2">
        <div class="card-prd mbt" *ngFor="let item of rings | slice: 0:2">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="item-box-all" *ngFor="let item of rings | slice: 7:8">
          <div class="item-box-img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="./assets/img/shop-all/ring-all3.png">
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="/product-detail/{{item.pid}}">
              <h5>Flawless Ring</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card-prd mbt" *ngFor="let item of rings | slice: 2:4">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card-prd mbt" *ngFor="let item of rings | slice: 4:6">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="box-all mbt">
          <div class="click-to-all">
            <a routerLink="/category/1">
              <p class="mdt mb-0 text-center">Shop all</p>
            </a>
          </div>
        </div>
        <div class="card-prd mbt" *ngFor="let item of rings | slice: 6:7">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Earrings-->
  <div class="Earring-all cate-all">
    <h4 class="text-center">Earrings</h4>
    <div class="row">
      <div class="col-4">
        <div class="item-box-all" *ngFor="let item of earrings | slice: 7:8">
          <div class="item-box-img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="./assets/img/shop-all/earr-all1.png">
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="/product-detail/{{item.pid}}">
              <h5>Sunflower Earring</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card-prd mbt" *ngFor="let item of earrings | slice: 0:2">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card-prd mbt" *ngFor="let item of earrings | slice: 2:4">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card-prd mbt" *ngFor="let item of earrings | slice: 4:6">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="box-all mbt">
          <div class="click-to-all">
            <a routerLink="/category/2">
              <p class="mdt mb-0 text-center">Shop all</p>
            </a>
          </div>
        </div>
        <div class="card-prd mbt" *ngFor="let item of earrings | slice: 6:7">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Bracelets-->
  <div class="Bracelet-all cate-all">
    <h4 class="text-center">Bracelets</h4>
    <div class="row">
      <div class="col-2">
        <div class="card-prd mbt" *ngFor="let item of bracelets | slice: 0:2">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card-prd mbt" *ngFor="let item of bracelets | slice: 2:4">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card-prd mbt" *ngFor="let item of bracelets | slice: 4:6">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="item-box-all" *ngFor="let item of bracelets | slice: 7:8">
          <div class="item-box-img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="./assets/img/shop-all/brac-all5.png">
            </a>
          </div>
          <div class="item-box-content text-center">
            <a routerLink="/product-detail/{{item.pid}}">
              <h5>Magic Bracelet</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="box-all mbt">
          <div class="click-to-all">
            <a routerLink="/category/3">
              <p class="mdt mb-0 text-center">Shop all</p>
            </a>
          </div>
        </div>
        <div class="card-prd mbt" *ngFor="let item of bracelets | slice: 6:7">
          <div class="img">
            <a routerLink="/product-detail/{{item.pid}}">
              <img src="{{item.thumb}}">
            </a>
          </div>
          <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
            Quick view
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Necklaces-->
  <div class="Necklace-all cate-all">
      <h4 class="text-center">Necklaces</h4>
      <div class="row">
        <div class="col-2">
          <div class="card-prd mbt" *ngFor="let item of necklaces | slice: 0:2">
            <div class="img">
              <a routerLink="/product-detail/{{item.pid}}">
                <img src="{{item.thumb}}">
              </a>
            </div>
            <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
              Quick view
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card-prd mbt" *ngFor="let item of necklaces | slice: 2:4">
            <div class="img">
              <a routerLink="/product-detail/{{item.pid}}">
                <img src="{{item.thumb}}">
              </a>
            </div>
            <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
              Quick view
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="item-box-all" *ngFor="let item of necklaces | slice: 7:8">
            <div class="item-box-img">
              <a routerLink="/product-detail/{{item.pid}}">
                <img src="./assets/img/shop-all/neck-all3.png">
              </a>
            </div>
            <div class="item-box-content text-center">
              <a routerLink="/product-detail/{{item.pid}}">
                <h5>Angles' Tear Necklace</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card-prd mbt" *ngFor="let item of necklaces | slice: 4:6">
            <div class="img">
              <a routerLink="/product-detail/{{item.pid}}">
                <img src="{{item.thumb}}">
              </a>
            </div>
            <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
              Quick view
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="box-all mbt">
            <div class="click-to-all">
              <a routerLink="/category/4">
                <p class="mdt mb-0 text-center">Shop all</p>
              </a>
            </div>
          </div>
          <div class="card-prd mbt" *ngFor="let item of necklaces | slice: 6:7">
            <div class="img">
              <a routerLink="/product-detail/{{item.pid}}">
                <img src="{{item.thumb}}">
              </a>
            </div>
            <div class="compare card-prd-bt smt" data-bs-toggle="modal" type="button" data-bs-target="#quickview">
              Quick view
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!--Modal Quick view-->
<div class="modal fade" id="quickview">
  <div class="modal-dialog modal-dialog-centered quickview">
    <div class="modal-content">
      <div class="row">
        <div class="col-7 ps-0">
          <!--Carousel quick view product-->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="5000">
                <img src="./assets/img/product-detail/quickview1.png">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="./assets/img/product-detail/quickview2.png">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="./assets/img/product-detail/quickview3.png">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/product-detail/quickview4.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 pe-0">
          <h5>Diamond Wire Ring</h5>
          <h5 class="my-3">$7,000</h5>
          <p>Quantity</p>
          <div class="quick-size my-3">
            <select class="form-select smt">
              <option selected>Select size</option>
              <option value="1">3</option>
              <option value="2">3 1/2</option>
              <option value="3">4</option>
              <option value="3">4 1/2</option>
              <option value="3">5</option>
              <option value="3">5 1/2</option>
            </select>
          </div>
          <button type="button" class="btn btn-pri mb-3 w-100" data-bs-dismiss="modal">Add to bag</button>
          <a href="">
            <p>View more detail</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
