/*ALL*/
* {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

h2, h3, h4 {
  font-family: 'Merchant', sans-serif;
}

.card {

}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

#logo {
  height: 40px;
}

/*HEADER*/
/*dropdown-menu-start*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FAF8F6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*dropdown-menu-end*/

/*FOOTER*/
.follow-us i {
  padding-right: 10px;
}

.subscribe input {
  padding-top: 10px;
  background-color: #FAF8F6;
}

.subscribe button {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
}
